.imageText {
    background: url(./assets/contact-header-bg.jpg);
    display: flex;
    align-items: anchor-center;
    justify-content: center;
    max-width: 1168px;
    min-height: 450px;
    /* padding-left: 10px; */
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:3rem;
}

.imageText > h1 {
    color: #fff;
    font-size: 40px;
    line-height: 1.5rem;
    text-align: center;

}

.imageText > h1 > #secondline {
    font-size: 16px;
}

.contact-questions {
    display: flex;
    column-gap: 1.5rem;
}

.contactInfo {
    flex-basis: 50%;
}

.enquiry {
    flex-basis: 50%;
}

p {
    font-size: 14px;
    color: #777777;
}

.primaryInput {

    width: 100%;
}

form > div > div {
    display: flex;
    column-gap: 2rem;
}

form > div > div > div {
    flex-basis: 45%;
    margin-bottom: 1rem;
} 

form {

    margin-top: 2rem;
}