:root {
    --primary-color:#333333;
    --secondary-color:#cccccc;
    /* --icon-color:#ffc107; */
}


*{
    margin:0;
    padding: 0;

}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Light.ttf);
}

body {

   font: normal 300 1.0rem / 1.8 Poppins, sans-serif;
}

.contianer {
    max-width:1200px;
    margin:0 auto;
}