:root {
    --primary-color:#333333;
    --secondary-color:#cccccc;
    /* --icon-color:#ffc107; */
}


*{
    margin:0;
    padding: 0;

}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Light.ttf);
}

body {

   font: normal 300 1.0rem / 1.8 Poppins, sans-serif;
}

.contianer {
    max-width:1200px;
    margin:0 auto;
}

.primaryButton button {
    width: 100%;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #fcb941;
    color: #fcb941;
}

.primaryButton {
    display: flex;
    margin-bottom: 20px;
    gap:40px;
}

.primaryButton img{
    margin-left: 10px;
    max-width: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}