:root {
    --primary-color:#333333;
    --secondary-color:#cccccc;
}

*{
    margin:0;
    padding: 0;
}

body {
   font: normal 300 1.0rem / 1.8 Poppins, sans-serif;
}

.home-container {
    max-width: 1188px;
    margin:0 auto;
}

#bg-img  {
    background:  url(./assets/home-bg1.jpg)  , url(./assets/home-bg-2.png);
          
}
