@media screen and (max-width:575px) {
    .primaryButton {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px
    }
    .buttons {
        display: flex;
        flex-direction: column;
        gap:20px;
    } 
    .primaryButton button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}