:root {
    --primary-color:slategrey;
    --background-color: beige;
    --background:linear-gradient(0deg, rgba(243, 244, 253, 0.911), rgb(186, 192, 194) 40%, rgb(32, 29, 29))
    ;
    
}

*{
    margin:0;
    padding: 0;

}
body{
    color:red;
}